<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Show results</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 style="padding: 1rem; font: 45px 'Lucida Grande', Helvetica, Arial, sans-serif;">
            <a href="upload"><img src="back-arrow.png" alt="back-button" width="4%" height="4%" /></a> &nbsp;Show results
        </h1>
    </div>
</div>
<br>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div id="imageContainer" class="container container-fluid">
        <div class="row justify-content-center align-items-center" style="padding-top: 1rem; padding-left: 2rem; padding-right: 2rem">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 1rem"> <!--align-items-center-->
            <div class="col" >
                <img src="test.jpg" class="img-fluid rounded" alt="input image">
            </div>
            <div class="col">
                <img src="out.png" class="img-fluid rounded" alt="output image">

                <div class="row">
                    <div class="col input-group mb-3 flex-nowrap" style="padding-top: 0.4rem; margin: auto">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white text-monospace">Crack Severity Index</span>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text text-monospace text-right">100%</span>
                        </div>
                    </div>

                    <div class="col input-group mb-3 flex-nowrap" style="padding-top: 0.5rem; margin: auto">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-info text-white text-monospace">Loss area</span>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text text-monospace text-right">30%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
