doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    title ¿hasCrack? - Show results
.container
    .page-header
        h1(style="padding: 1rem; font: 45px 'Lucida Grande', Helvetica, Arial, sans-serif;")
            a(href='upload')
                img(src='images/back-arrow.png' alt='back-button' width='4%' height='4%')
            b.text-dark &nbsp;&iquest;hasCrack?
            | &nbsp;Show results
br
.shadow-lg.p-3.mb-5.bg-white.rounded
    #imageContainer.container.container-fluid
        if error
            .row.justify-content-center.align-items-center(style='padding-top: 1rem; padding-left: 2rem; padding-right: 2rem')
                .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                    strong Error!
                    |  #{error}
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;
        else
            .row.justify-content-center(style='padding-top: 1rem')
                // align-items-center
                .col
                    img.img-fluid.rounded(src='' + source alt='input image')
                .col
                    img.img-fluid.rounded(src='' + output alt='output image')
                    .row
                        .col.input-group.mb-3.flex-nowrap(style='padding-top: 0.4rem;')
                            .input-group-prepend
                                span.input-group-text.bg-danger.text-white.text-monospace Crack Severity Index
                            .input-group-append
                                span.input-group-text.text-monospace.text-right #{crackSeverity}
                        .col.input-group.mb-3.flex-nowrap(style='padding-top: 0.5rem;')
                            .input-group-prepend
                                span.input-group-text.bg-info.text-white.text-monospace Loss area
                            .input-group-append
                                span.input-group-text.text-monospace.text-right #{lostArea}
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
