body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  border-bottom: 2px solid lightgray;
}

a {
  color: #00B7FF;
}

.headbanner{
  height:100px;
  background-color:white;
  margin: 10px;
  text-align: left;
}

.appname {
  color:#006192;
  display:inline-block;
  font-size: 32px;
}





#uploadbox,#outputbox {
  height: 600px;
  background-color: white;
  margin-top: 50px;
  margin: 50px;
  border: 1.5px solid lightgray;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

#dropzone{
  margin: 50px;
  border: 3px solid gray;
}

.icon{
  margin : 50px;
}


#output{
  margin:50px;
  color:#006192;
}



#choosepic,#upload{
  background-color:#006192;
  color: white;
  margin: 5px;
  border: none;
  display: inline-block;
  font-size: 16px;
}

#choosepic:hover,#upload:hover{
  background-color:#00a9ff;
}

#imageBox{
  margin:20px;
  height: 400px;
}

#inout1{
  float: left;
}

#inout2{
  float: right;
}

#inout1,#inout2{
  width: 650px;
  padding: 10px;
  text-align: center;
  color: #006192; 
}

#inout1 img,#inout2 img{
  display:block;
}



